<div class="image-container">
    <img src="{{image_url}}" alt="">
</div>
<div class="general-content-container">
    <h3>{{name}}</h3>
    <span class="tagline">{{tagline}}</span>
    <p>{{description}}</p>