<main class="beer-container">
    {{#each this}}
    <div class="beer">
        <a href="/beers/beer-{{id}}">
            {{> beerpartial this}}
        </a>
    </div>
    </div>
    {{/each}}
</main>