<main class="random-container">
    {{> beerpartial this}}
    <span>Food Pairings</span>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p><span>Brewers Tips:</span> {{brewers_tips}}</p>
    </div>
</main>